body{
    font-family: 'Handlee', cursive;
    font-size: 30px;
    
}

#wrap{
    width: 1060px;
    margin: auto;
}

#back0{
    width: 1400px; 
    height: 200px;
    background: #008080; 
}

#back01{
    width: 1400px; 
    height: 300px;
    background: #008080; 
}

#back{
    width: 1830px; 
    background: #008080; 
}

#back2{
    width: 1830px; 
    background: #035555; 
}

header h1{
    padding: 10px 20px;
}

 h1 {
    font-family: 'Barrio', cursive;
    font-size: 60px;
    color: #008080;
}

#head1{
    font-size: 90px;
    color: white;
}
ul{
    list-style: none;
    padding-left: 0;
    
    
}
li {
    display: inline-block;
    margin-right: 10px; 
    padding-left: 20px;
}

a{
    padding: 10px 20px;
    font-size: 25px;
    font-family: 'Barrio', cursive;
    margin-right: 10px;
    color: white;
    background: rgba(255,255,255,0.3);
    box-shadow: inset 0 0 0 3px #ffffff;
    text-decoration: none;
    
}

a:hover{
    
    background-color:white;
	color: black;
	box-shadow: inset 0 0 0 3px #0e0d0d;
}

img {
    display: inline-block;
    margin-right: 80px;
    
    width: 150px;  
}

.container {
    display: inline-block;
    width: 160px;
    margin-left: 30px;
    margin-right: 60px;
    position: relative;
    
  }
  
  .image {
    display: inline-block;
    display: block;
   
  }

  .muro {
    width: 1830px;
    display: inline-block;
    display: block;
   
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    
  }
  
  .container:hover .overlay {
    width: 160px;
  }
  
  .text {
    white-space: nowrap; 
    color: black;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }